.navbarcontainer {
    background-color: white;
    padding: 1rem;
}

.logo {
    width: 5rem;
    margin-left: 2rem;
}

.menubutton {
    border: none;
    background-color: transparent;
}

.menudropdown {
    border: none;
    border-radius: 0%;
}

.dropdown-item {
    padding: 1rem 4rem 1rem 2rem;
}

.input-group {
    width: 60%;
    left: 15%;
}

.icon {
    fill: #816132;
    width: 2em;
}

.icon:hover {
    fill: #402F16;
    transition: 0.5s;
}

@media screen and (max-width: 1000px) {
    .logo {
        width: 3em;
    }

    .icon {
        background-color: red;
        width: 1.5em;
    }

    .searchbar {
        display: none;
    }

    .searchbar-btn {
        margin-left: 4em;
    }
}

@media screen and (max-width: 430px) {
    .caption {
        font-size: 0.9em;
    }
}