.prdcard-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2em 3em 2em 3em;
}

.prdcard {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    justify-self: center;
}

.picture-container {
    position: relative;
}

.picture-container .picture-one {
    display: block;
}

.picture {
    width: 15em;
    height: 15em;
    object-fit: cover;
}

.picture-container .picture-two {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.picture-container:hover .picture-two {
    display: block;
}

.prdname {
    margin-top: 0.5em;
    color: black;
    font-family: "Merriweather", serif;
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: 600;
}

.prdprice {
    color: gray;
    font-family: "Merriweather", serif;
    font-size: 0.8em;
}

@media screen and (max-width: 1080px) {
    .prdcard-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        padding: 2em;
    }

    .picture {
        width: 12em;
        height: 12em;
    }

    .prdname {
        font-size: 0.9em;
    }
    
    .prdprice {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 430px) {
    .prdcard-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        padding: 2em;
    }

    .picture {
        width: 12em;
        height: 12em;
    }

    .prdname {
        font-size: 0.8em;
    }
    
    .prdprice {
        font-size: 0.6em;
    }
    
}